<% layout("/layouts/boilerPlate") %>

<div class="row">
  <div class="col-8 offset-2">
    <h3>Create a New Listing</h3>

    <!-- ✔️ Include partial and pass required data -->
   <%- include("form", {
  listing: null,
  formAction: "/listings",
  buttonText: "Add Listing"
}) %>

  </div>
</div>
